 /* 결과지 */
 .final{
  display: inline-block;
  font-size: 16px; 
  background-position-x: center;
  /* height: 130vh; */
  width: 100vw;
  max-width: 500px;
  background-size:100%;
} 

  #finalimg{
      display: inline-block;
      margin-top: 60px;
      width: 300px;
      height: 300px;
      margin-bottom:20px;
  }

  .texts,.med, .subtexts{
    display: inline-block;
    width: 320px;
    padding: 20px 20px;
  }

  .finaltitle{
    display: inline-block;
    width: 320px;
    padding: 20px 20px;
    font-size: 130%;
    font-weight: bold;
    color:rgb(66, 66, 66);
  }
  .texts{
    font-size: 88%;
    line-height: 1.5;
    color:rgb(66, 66, 66);
    font-weight: 400;
  }
  .med{
    font-size: 100%;
    font-weight: bold;
    color:rgb(66, 66, 66);
  }
  .subtexts{
    text-align:left;
    font-size: 88%;
    color:rgb(66, 66, 66);

  }
.sharing{
  text-align:center;
  margin-top: 30px;
}
.ad{
  width: 100vw;
  max-width: 400px;
  display: inline-block;
 margin-top: 30px;
}
 .copyright{
   font-size: 14px;
   color:#C8BCAC;
   margin-top: 30px;
   margin-bottom: 30px;
 }      

